

:root {
    --space-2xs-l: clamp(0.56rem, calc(-0.11rem + 3.37vw), 2.50rem);

    /* Colors */
    --bg-clr: #F2F2F0;

    /* Fonts */
    --ro-font: 'Montserrat', sans-serif;
    --jp-font: 'Noto Serif JP', serif;
}