

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100%;
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
/* https://www.youtube.com/shorts/2lyDv0wOQuQ */

/* Main grid */
.grid {
    display: grid;
    grid-template-rows: 2fr max-content 2fr;
    justify-items: center;
    height: 100vh;
    margin: 0 auto;
}

/* Black card */
.content {
    grid-row: 2;
    width: min(20rem, 100% - 4rem);
    aspect-ratio: 20 / 43;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    gap: 1rem;
    padding: 1rem;
    text-transform: uppercase;
}

/* Text styling */
.bushido > *,
.virtues > * {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.bushido-jp {
    font-family: var(--jp-font);
    font-size: min(3.5rem, 30vw - 3.5rem);
    justify-self: end;
}

.jp {
    font-family: var(--jp-font);
    font-size: min(2.3rem, 21vw - 2.5rem);
    justify-self: end;
}

.bushido-ro,
.ro {
    font-family: var(--ro-font);
    font-size: clamp(0.5rem, 4vw + 0.2rem, 0.8rem);
    font-size: 0.5rem;
    font-size: max(0.7rem);
    letter-spacing: 0.1rem;
}

/* All content apart from text */
.content-left {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    place-items: center;
}

.red-circle {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: red;
    clip-path: circle(50% at 50% 50%);
}

.bushido {
    display: grid;
    grid-template: max-content / 2.5fr 1.25fr;
    width: 100%;
    align-items: center;
}

.sword {
    display: grid;
    grid-template-rows: max-content;
}

.katana {
    width: min(5rem, 40vw - 3.5rem);
}

.content-right {
    display: grid;
    grid-template: repeat(7, 1fr) / 1fr;
    grid-auto-rows: 1fr
} 

.virtues {
    display: grid;
    grid-template: max-content / 2fr 1fr;
    width: 100%;
    align-items: center;
    margin-block: auto;
}

