

@import "./css/calc.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif+JP&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100%;
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
/* https://www.youtube.com/shorts/2lyDv0wOQuQ */


#viewport {
    background-color: var(--bg-clr);
    height: 100vh;
    text-align: center;
}

.main-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    height: 100%;
}

.content {
    grid-row: 2;
    grid-column: 2;
    width: 80%;
    max-width: 350px;
    aspect-ratio: 20 / 43;
    background-color: black;
}