
@import "./css/calc.css";


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100%;
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
/* https://www.youtube.com/shorts/2lyDv0wOQuQ */

.grid {
    display: grid;
    grid-template-rows: 2fr max-content 2fr;
    justify-items: center;
    height: 100vh;
    margin: 0 auto;
}


.content {
    grid-row: 2;
    width: min(22rem, 100% - 4rem);
    aspect-ratio: 20 / 43;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    gap: 1rem;
    padding: 1rem;
    text-transform: uppercase;
}

.jp {
    font-size: 3rem;
    justify-self: end;
}

.ro {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.content-left {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
}

.red-circle {
    max-width: 95%;
    aspect-ratio: 1 / 1;
    background-color: red;
    clip-path: circle(50% at 50% 50%);
    /* How the fuck do you center this damn circle!?!?! */
    margin-left: 10px;
    margin-block: auto;
    /* place-self: center; */
}

.bushido {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    align-items: center;
}

.bushido > * {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.sword {
    background-color: white;
    width: 100%;
}

.content-right {
    display: grid;
    grid-template: repeat(7, 1fr) / 1fr;
}

.virtues {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.virtues > * {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
}